<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Paths>
	<string>t://budget</string>	
	<string>t://chantiersjeunes</string>	
	<string>t://circuitscourts</string>	
	<string>t://crise</string>	
	<string>t://donnee</string>
	<string>t://elus</string>
	<string>t://fablab</string>	
	<string>t://factadsl</string>	
	<string>t://factcopieur</string>	
    <string>t://indicateur</string>	
	<string>t://passagglo</string>	
	<string>t://ppi</string>
	<string>t://protocole</string>
    <string>t://projet</string>
	<string>t://rs</string>
	<string>t://stagiaire</string>	
	<string>t://subrecette</string>
	<string>t://subvention</string>
	<string>t://suivimarches</string>
	<string>t://transports2</string>
	<string>t://triselectif</string>
	<string>t://vehicules</string>
	<string>t://videosurveillance</string>
  </Paths>
  
</Config>
